__pycache__/
*.pyc

# estes arquivos não devem ser comitados
git reset HEAD __pycache__/  && git reset HEAD *.pyc      - remove os arquivos do stagin(já rastreavel , sem deletar localmente)
git status para verificar
ou
git reset HEAD **/__pycache__/ && git reset HEAD **/*.pyc    - remover tudo de uma vez
# para evitar novos ratreamentos adicione 
# echo "__pycache__/" >> .gitignore
# echo "*.pyc" >> .gitignore
# git add .gitignore
# Deleta pastas __pycache__  (local) Remove-Item -Recurse -Force __pycache__
# Deleta arquivos .pyc (local) Remove-Item -Force *.pyc
# git commit -m "Remove __pycache__ e .pyc do Git permanentemente"
# git push origin main   # Substitua "main" pelo seu branch (master, etc.)
#deletar localmente
# Get-ChildItem -Path . -Include "__pycache__" -Recurse -Directory | Remove-Item -Recurse -Force
# Get-ChildItem -Path . -Include "*.pyc" -Recurse -File | Remove-Item -Force